.title {
    text-align: center;
    color:cadetblue;
}
.outside {
    margin:auto; 
    width: 50%;
    padding: 20px; 
    border: 3px solid green; 
    background-color:cadetblue;
}
.inside {
    text-align: left;
    padding: 10%;
}
.left_column {
    float: left;
}
.right_column {
    float: right;
}
.buttom {
    text-align: center;
    clear: both;
}
.menu {
    border: solid green;
    background: aquamarine;
    color:brown;
}

/***********Index CSS**************/
.titleLogin{
   margin-left: 20px; 
}

.titleLogin a{
    text-decoration: none;
}

nav{
    width: 20%;
    float: left;
    height: 100vh;
    margin-left: 20px;
    background-color: gainsboro;
    
}
.contentRight{
    width: 70%;
    margin-left: 300px;
}

.titleIndex{
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.community{
    width: 49%;
    height: 50vh;
    background-color: gainsboro;
    float: left;
    margin-top: 10px;
}
.community h2{
    text-align: center;
}

.housing{
    width: 49%;
    height: 50vh;
    margin-left: 450px;
    background-color: gainsboro;
    margin-top: -10px;
}

.housing h2{
    text-align: center;
    padding: 20px;
}

.Services{
    width: 49%;
    height: 50vh;
    background-color: gainsboro;
    float: left;
    margin-left: -430px;
    margin-top: 20px;
}

.Services h2{
    text-align: center;
}

.Jobs{
    width: 49%;
    height: 50vh;
    background-color: gainsboro;
    margin-left: 450px;
}

.Jobs h2{
    padding: 20px;
    text-align: center;
}

