.title {
    text-align: center;
    color:cadetblue;
}
.outside {
    margin:auto; 
    width: 50%;
    padding: 20px; 
    border: 3px solid green; 
    background-color:cadetblue;
}
.inside {
    text-align: left;
    padding: 10%;
}
.left_column {
    float: left;
}
.right_column {
    float: right;
}
.buttom {
    text-align: center;
    clear: both;
}
.menu {
    border: solid green;
    background: aquamarine;
    color:brown;
}

